.eng-font {
    font-family: "Newsreader", sans-serif;
  }
    img {
      max-width: 100%;
      height: auto;
    }
    
    a {
      color: inherit;
      display: inline-block;
      text-decoration: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      letter-spacing: 0.1em;
    }
    
    p {
      letter-spacing: 0.05em;
    }
    
    .bi {
      font-size: 1.25rem;
      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }
    }